<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <!-- Menú Nivel 0 -->
    <menuitem
        id="main_odoo_olamundo"
        name="Menú Nivel 0. Antonio"
        sequence="10"
    />

    <!-- Menú Nivel 1, debajo del de nivel 0 -->
    <menuitem
        id="menu_olamundo"
        name="A acción con ola mundo"
        parent="main_odoo_olamundo"
        action="olamundo_list_action"
        sequence="10"
    />

</odoo>
