<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <!-- Menú nivel 0 (aparece en la barra de arriba) -->
    <menuitem id="main_odoo_olamundo"
              name="Menú Nivel 0. Ola Mundo"/>

    <!-- Menú nivel 1 (dentro del anterior, abre nuestra acción) -->
    <menuitem id="menu_olamundo"
              name="Ola Mundo"
              parent="main_odoo_olamundo"
              action="olamundo_list_action"/>
</odoo>
